* {
    margin: 0;
}
body {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh; 
    width: 100%;
    overflow: hidden;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}
li {
    height: 60px; 
    width:60px; 
    background-color:#ffffff; 
    border-radius:40px; 
    border:2px solid #000000;
    margin: 0;
    padding: 0;
    transition: box-shadow 1s;
    transition-timing-function: ease;
}
li.nonColored:hover {
    box-shadow: 2px 2px 8px #000000 inset;
}
#options {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
#text, #multiplayerForm, #multiplayerCode, #resultStatus {
    text-align: center;
}
#multiplayerCode #code {
    text-align: center;
}
#board {
    margin: 0 auto;
}
#board {
    border-radius:10px;
    background-color: #00008b;
}
#buttons {
    width: 100%; 
    text-align: center; 
    margin-bottom: 30px;
}
#buttons #resetBtn {
    margin-top:10px;
}
